.nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background: cornflowerblue;
}

#mainNav {
  display: flex;
  flex: 1;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: flex-end;
}

.navLink {
  color: white;
  font-size: 1.2rem;
}

.navLink:hover {
  color: red;
}

#portalNav {
  margin-right: 2rem;
  display: flex;
  padding-top: 0.5rem;
  flex-direction: column;
  align-self: flex-end;
  text-align: center;
}

#portalLink {
  font-size: 1.5rem;
}

#portalLink > p {
  font-size: 1.2rem;
  margin-top: 0;
}

#profileIcon {
  color: red;
}
